<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realizer.schoolgeine.driver">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/school_genie_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".SplashScreen"
            android:label="Tracking"
            android:noHistory="true"
            android:theme="@style/AppTheme1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            />
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".ShowListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity android:name=".showmaps.TrackShowMap"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <service
            android:name=".ServiceLocationChange"
            android:enabled="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNhQCnjk-a2qwAjSfxrYWUyx4czPnb3Yw" />

        <service
            android:name=".AlarmService"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiver" />


        <receiver android:name=".NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
